/* 1. IMPORT FONT DARI GOOGLE (Wajib agar browser kenal fontnya) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

@import "tailwindcss";

@theme {
  --color-navy: #111827;
  --color-crimson: #E3242B;
  
  /* 2. UBAH VARIABLE FONT DI SINI */
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  html { 
    scroll-behavior: smooth; 
  }
  
  body { 
    /* 3. PASTIKAN BODY MENGGUNAKAN FONT SANS */
    @apply bg-[#FDFDFD] text-navy font-sans antialiased; 
  }

  /* Inovasi: Otomatis buat semua Judul (h1-h6) jadi tebal khas DDP */
  h1, h2, h3, h4, h5, h6 {
    @apply font-black tracking-tighter uppercase;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  /* Berhenti jalan saat kursor diletakkan di atasnya */
  .group:hover .animate-marquee {
    animation-play-state: paused;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

/* Custom Scrollbar DDP Premium */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-50;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-crimson transition-colors;
}